.container{
    display: flex;
    justify-content: center;
    width:85%;
}
.dropDownMenu{
  background-color: #fff;
  border-radius: 4px 4px 4px 4px;
  padding: 2px;
}

.logo{
    width: 20%;
}

@media (max-width:770px){
    .container{
        margin:2% 0 !important;
    }
    .dropDownMenu{
        width:120px;
        flex:1;
    }
    .logo{
       width: 40%;
    }
}